* {
    margin: 0px;
    padding: 0px;
}
.barra {
    background-color: aquamarine;
}
.contenedor__caroussel {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.contenedor__cards {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
.centrar__footer {
    text-align: center;
}
.centrar__contenido {
    align-items: center;
    justify-content: center;
}
.footer {
    background-color: rgb(52, 232, 24)
}
.enlaces {
    text-decoration: none;
    color: rgb(52, 232, 24)
}